.App {
	text-align: center;
	height: 100vh;
	background: #303d42;
	color: white;
}

.App-logo {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 145px;
    z-index: 10;
}

.Container {
	background: #0f8271;
    height: 85vh;
    position: absolute;
    left: 5%;
    width: 90%;
    top: 80px;
    border-radius: 65px;
    box-shadow: #4644d4 0px 0px 50px -35px;
    overflow: hidden;
}

.Main {
    height: 100%;
    padding-top: 65px;
}