.login-fields {
    margin: auto;
    padding: 40% 65px 0 0;

    td {
        padding-bottom: 10px;
    }

    td:nth-child(2) {
        width: 173px;
    }
}

.login-error {
    color: #801212;
    font-weight: bold;
}