.video-container {
	display: grid;
    grid-template-columns: 20px 540px auto;
    grid-template-rows: auto 30px;
    overflow: hidden;

    .player-container{
        grid-area: 1 / 1 / 1 / 4;
    }
}